.input-container{
  width: 280px;
  position: relative;
}
.label{
  margin-top: 20%;
  position: absolute;
  left: 25%;
  top: 14px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: #b3b3b3;
  user-select: none;
}
.text-input{
  margin-left: 20%;
  margin-top: 20%;
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid #2f2c45;
  background: #272530;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
  color: #fff;
}

.label::before{
  content: '';
  height: 5px;
  background: #272530;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;}

.text-input:focus{
    border: 2 px solid #38f2ff;
  }

.text-input:focus + .label{
top: -10px;
color: #38f2ff;
font-size:18px;
text-shadow: 1.5px 1px 2px rgba(8, 8, 8, 0.494);
  }

.text-input::placeholder{
font-size: 16px;
transition: all 0.3s;
opacity: 0;
  }
.text-input:focus::placeholder{
    opacity: 1;
  }
.text-input:not(:placeholder-shown) + .label{
    top: -10px;
    color: #38f2ff;
    font-size: 18;
  }

